SDM_DB_HOST=sdm-database-host.example.com
SDM_DB_PORT=5432
SDM_DB_NAME=database_name
SDM_DB_USER=database_user
SDM_DB_PASSWORD=replace_with_new_password
SDM_DB_SSLMODE=require
SDM_DB_CONNECT_TIMEOUT=10

GL_DB_HOST=gl-database-host.example.com
GL_DB_PORT=5432
GL_DB_NAME=database_name
GL_DB_USER=database_user
GL_DB_PASSWORD=replace_with_new_password
GL_DB_SSLMODE=require
GL_DB_CONNECT_TIMEOUT=10

GOOGLE_APPLICATION_CREDENTIALS=C:\\secure\\path\\service-account.json

SDM_DAILY_SHEET_URL=https://docs.google.com/spreadsheets/d/replace_me
SDM_DAILY_WORKSHEET=Sheet1
GL_DAILY_SHEET_URL=https://docs.google.com/spreadsheets/d/replace_me
GL_DAILY_WORKSHEET=Sheet1
GL_WEEKLY_SHEET_URL=https://docs.google.com/spreadsheets/d/replace_me
GL_WEEKLY_WORKSHEET=Sheet1
SDM_WEEKLY_SHEET_URL=https://docs.google.com/spreadsheets/d/replace_me
SDM_WEEKLY_WORKSHEET=Sheet1
